body {
    margin: 0;
    overflow: hidden; /* Ensure this is set if needed for your design */
}

.logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logo {
    max-width: 30%;
    max-height: 30%;
    opacity: 0;
    transform-origin: top left; /* Set the transform origin to the top left corner */
}

.main-content {
    position: absolute;
    transition: opacity 2s ease-in-out;
}
